<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243406368843-uu4b32lta8qotr1gh59apvm4f9ms0a8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243406368843-uu4b32lta8qotr1gh59apvm4f9ms0a8c</string>
	<key>API_KEY</key>
	<string>AIzaSyDOSZA9wDBvzQBw7JuAKppZN5xY7vrBlVc</string>
	<key>GCM_SENDER_ID</key>
	<string>243406368843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takeBreak</string>
	<key>PROJECT_ID</key>
	<string>take-break-9d802</string>
	<key>STORAGE_BUCKET</key>
	<string>take-break-9d802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243406368843:ios:640bb1afa2184fe3e61dce</string>
</dict>
</plist>